<form class="form-create-card">
  <span class="form-create-card-title">CREATE NEW CARD</span>
  <label class="form-create-card-label" for="title">Title:</label>
  <input
    matInput
    id="title"
    name="title"
    class="title-input"
    type="text"
    required
  >
  <label class="form-create-card-label" for="description">Description:</label>
  <input
    matInput
    id="description"
    name="description"
    class="description-input"
    type="text"
    required

  >
  <label class="form-create-card-label" for="image">Image:</label>
  <input
    matInput
    id="image"
    name="image"
    class="image-input"
    type="text"
    required

  >
  <label class="form-create-card-label" for="video-link">Video link:</label>
  <input
    matInput
    id="video-link"
    name="video-link"
    class="video-link-input"
    type="text"
    required

  >
  <button
    class="create-btn"
    mat-raised-button
    color="primary"
  >
  CREATE
</button>
