<div item="item" class="card-statistics">
  <div class="card-statistics_item">
    <mat-icon class="card-icon" aria-hidden="false" aria-label="view-count">visibility</mat-icon>
    <p>{{ item.statistics.viewCount }}</p>
  </div>
  <div class="card-statistics_item">
    <mat-icon class="card-icon" aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
    <p>{{ item.statistics.likeCount }}</p>
  </div>
  <div class="card-statistics_item">
    <mat-icon class="card-icon" aria-hidden="false" aria-label="Example home icon">thumb_down</mat-icon>
    <p>{{ item.statistics.dislikeCount }}</p>
  </div>
  <div class="card-statistics_item">
    <mat-icon class="card-icon" aria-hidden="false" aria-label="Example home icon">speaker_notes</mat-icon>
    <p>{{ item.statistics.commentCount }}</p>
  </div>
</div>
