<div class="login">
  <span class="login-name">{{ stream$ | async }}</span>
  <img class="user-icon" src="../../../assets/images/search-form/user-icon_default.png" alt="user-icon">
</div>
<div *ngIf="loginService.isLogged"
class="logout">
  <button
  mat-raised-button
  color="primary"
  [routerLink]="['/admin']"
  >
    to ADMIN page
  </button>
  <button
  mat-raised-button
  color="primary"
  (click)="loginService.clearDateInLocalStorage()"
  [routerLink]="['']"
  >
    logout
  </button>
</div>
