<div class="filter-panel">
  <span class="filter-panel-item">Sorting by:</span>
  <button
    class="filter-panel-item"
    mat-stroked-button color="primary"
    (click)="youtubeService.sortDate(sortDate = !sortDate)"
    (click)="toggleIcon('iconDateContent')"
  >
  <span>date</span>
  <mat-icon id="iconDate" class="card-icon card-icon-date-point" aria-label="neutral"> {{ iconDateContent }}</mat-icon>
</button>
  <button
    class="filter-panel-item"
    mat-stroked-button color="primary"
    (click)="youtubeService.sortViewsCount(sortCount = !sortCount)"
    (click)="toggleIcon('iconViewsCountContent')"
  >
  <span>views count</span>
  <mat-icon id="iconView" class="card-icon card-icon-date-point" aria-label="neutral"> {{ iconViewsCountContent }}</mat-icon>
</button>
  <form class="filter-form" class="filter-panel-item">
    <input
      matInput
      class="filter-input"
      type="text"
      name="filter"
      id="key-word-filter"
      placeholder="by word or sentence"
      [(ngModel)]="filterWord"
    >
    <button
      class="filter-input-button"
      mat-stroked-button color="primary"
      (click)="filterCardsService.changeFilterWord(filterWord)"
      (click)="youtubeService.filter()"
  >filter</button>
</form>
</div>
