<div class="filter-panel">
  <span class="filter-panel-item">Sorting by:</span>
  <button
    class="filter-panel-item"
    mat-stroked-button color="primary"
  >date</button>
  <button
    class="filter-panel-item"
    mat-stroked-button color="primary"
  >views count</button>
  <form class="filter-form" class="filter-panel-item">
    <!-- <label class="filter-form-label" for="key-word-filter"> by word or sentence: </label> -->
    <input
      matInput
      class="filter-input"
      type="text"
      name="filter"
      id="key-word-filter"
      placeholder="by word or sentence"
    >
    <button
      class="filter-input-button"
      mat-stroked-button color="primary"
  >filter</button>
</form>
</div>
